<!-- Modal -->
<div
  class="modal fade"
  id="edit-modal"
  tabindex="-1"
  aria-labelledby="editBank"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editBank">Edit Bank's Data</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/admin/bank?_method=put" method="post">
        <div class="modal-body">
          <div class="mb-3">
            <label for="bankName" class="form-label">Bank's Name</label>
            <input
              type="text"
              name="bankName"
              class="form-control bank-name"
              placeholder="Bank's name"
            />
          </div>
          <div class="mb-3">
            <label for="accountNumber" class="form-label">Account Number</label>
            <input
              type="text"
              name="accountNumber"
              class="form-control account-number"
              placeholder="Account number"
            />
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              name="name"
              class="form-control name"
              placeholder="Category name"
            />
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Payment proof</label>
            <input
              type="file"
              name="image"
              class="form-control payment-proof"
              placeholder="Choose file here"
            />
            <small><i>Choose the new file</i></small>
          </div>
          <div class="modal-footer">
            <input type="hidden" class="id" name="id" />
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
